<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937163841934-q3jn484rvujfjiifqvng5n88fk2b6nqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937163841934-q3jn484rvujfjiifqvng5n88fk2b6nqv</string>
	<key>API_KEY</key>
	<string>AIzaSyBGwHhHAJKLU0YitBsmmbEjFlyAt3-fZOA</string>
	<key>GCM_SENDER_ID</key>
	<string>937163841934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.FIT3178-Assignment</string>
	<key>PROJECT_ID</key>
	<string>promptd-32eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>promptd-32eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937163841934:ios:0933d95016c42cfde444df</string>
</dict>
</plist>